.food-items{
    margin: 20px 0 100px 0 ;
    flex: 1 0 auto;
}
.food-items .top-dishes{
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.2;
    margin-bottom: 20px;

    color: var(--color-txt);
}
.food-item{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
    row-gap: 50px;
}